openapi: 3.0.3
info:
  title: URL shortener API
  version: 0.0.1
  description: Simple API for URL shortener project that is created as labs for SW testing course.
  contact:
    name: Taras Bulba
    url: https://github.com/future-stardust/url-shortener-specification
    email: taras1522@zaporija.net
servers:
  - url: http://localhost:8080
    description: URL shortener running locally
externalDocs:
  description: GitHub project for the OpenAPI specification of URL shortener API
  url: https://github.com/future-stardust/url-shortener-specification
paths:
  /users/signup:
    post:
      tags:
        - users
      operationId: signup
      requestBody:
        description:
          User sign up. "Success" response means that user was created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signUpRequest'
      responses:
        '200':
          description: New user was created
        '400':
          description: Malformed request
          content: 
            application/json:
              schema: 
                $ref: '#/components/schemas/signUpResponseError'

  /users/signin:
    post:
      tags:
        - users
      operationId: signin
      requestBody: 
        description: 
          User sign-in. "Success" response contains bearer token
        required: true
        content: 
          application/json:
            schema: 
              $ref: '#/components/schemas/signInRequest'
      responses: 
        '200':
          description: Response with bearer token
          content: 
            application/json:
              schema: 
                $ref: '#/components/schemas/signInResponseOk'
        '400':
          description: Malformed request/required params are missing
        '404':
          description: User with provided credentials not found
  
  /users/signout:
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - users
      operationId: signout
      responses: 
        '200':
          description: Token sent via Authorization header is not longer valid
        '401':
          description: User is not authorized


components:
  schemas:
    signUpRequest:
      type: object
      properties:
        email:
          type: string
          description: email
          example: "test@example.com"
        username:
          type: string
          description: username
          example: "example"
        password:
          type: string
          description: password
          example: "very-strong-password"
    signUpResponseError:
      type: object
      properties: 
        reason_code:
          type: integer
          enum: [0, 1, 2]
          description: >
            * 0 - Malformed request

            * 1 - Username is already used

            * 2 - Email is already used
        reason_text:
          type: integer
          description: human-interpretable error reason
          example: "Cannot parse json"

    signInRequest:
      type: object
      properties: 
        email:
          type: string
          description: email
          example: "test@example.com"
        password:
          type: string
          description: password
          example: "very-strong-password"
    signInResponseOk:
      type: object
      properties: 
        token:
          type: string
          description: UUID4 bearer token
          example: "31e6dcae-e0ab-4808-b4d7-38c6c4768c66"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: UUID4

tags:
  - name: users
    description: User-related part of the API
