openapi: 3.0.3
info:
  title: URL shortener API
  version: 0.0.1
  description: Simple API for URL shortener project that is created as labs for SW testing course.
  contact:
    name: Taras Bulba
    url: https://github.com/future-stardust/url-shortener-specification
    email: taras1522@zaporija.net
servers:
  - url: http://localhost:8080
    description: URL shortener running locally
externalDocs:
  description: GitHub project for the OpenAPI specification of URL shortener API
  url: https://github.com/future-stardust/url-shortener-specification
paths:
  /login:
    post:
      operationId: login
      requestBody:
        description:
          User login operation. "Success" response contains "bearer" token that should be included
          into all requests that require authorization.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginpassword'
      responses:
        '200':
          description: Authorized successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/loginsuccess"
        '401':
          description: Login failed (no such user or password is wrong)

  /hello:
    get:
      operationId: makeHello
      summary: Make example request. Just because we can!
      description: This endpoint is completely useless. Just an example. Hah.
      security:
        - bearerAuth: []
      tags:
        - examplestructure
      responses:
        '200':
          description: Hello is successfull. REST API in friendly mood
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/examplestructure"

components:
  schemas:
    examplestructure:
      type: object
      properties:
        first:
          type: string
          description: First something
          example: "Fiiiirst!"
        second:
          type: string
          description: Second something
          example: "Second."
    loginpassword:
      type: object
      properties:
        username:
          type: string
          description: user name
          example: sherlock
        password:
          type: string
          description: user password
          example: blahblahblah
    loginsuccess:
      type: object
      properties:
        username:
          type: string
          example: sherlock
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1...
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token life time (in seconds)
          example: 3600
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: exampletag
    description: API for example, obviously

